<div class="container"  data-bs-theme="dark">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 bg-primary flex-fill text-light">
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary">Nome</div>
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary">Telefone</div>
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary">Origem</div>
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary">Data de contato</div>
    <div class="col-md-2 d-flex justify-content-center flex-fill bg-primary">Obeservação</div>
</div>