


    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Telefone:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <select class="form-select" aria-label="Default select example">
            <option>celular</option>
            <option value="1">celular</option>
            <option value="2">Telefone</option>
        </select>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Data do contato</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Observação</label>
            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
